.censored {
    display: inline-block;
    position: relative;
    width: 100%;

    border: 1px solid $border;
    border-radius: 3px;
    background: $bg-light;
    color: $text;
    font-family: $font;
    font-size: 16px;

    @include theme() {
        border-color: $border--dark;
        background: $bg-light--dark;
        color: $text--dark;
    }

    input,
    div {
        display: block;
        width: calc(100% - 60px);
        height: 26px;
        border: none;
        line-height: 18px;
    }

    a {
        position: absolute;
        top: 50%;
        right: 36px;
        transform: translateY(-50%);
        line-height: 0;
        user-select: none;
    }

    a:last-child {
        right: 14px;
    }

    svg {
        width: 14px;
        height: 14px;
    }
}
