.radio,
.checkbox {
    position: relative;
    padding-left: 26px;
    line-height: 28px;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    label {
        cursor: pointer;
    }

    span:before,
    label:before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 21px;
        width: 21px;
        border: 1px solid $border;
        border-radius: 3px;
        cursor: pointer;

        @include theme() {
            border-color: $border--dark;
        }
    }

    input:checked ~ span:before,
    input:checked ~ label:before {
        border-color: lighten($primary, 5%);
        background-color: $primary;
        box-shadow: 0 2px 4px 0 rgba($primary, 0.4);

        @include theme() {
            border-color: lighten($primary--dark, 5%);
            background-color: $primary--dark;
            box-shadow: 0 2px 4px 0 rgba($primary--dark, 0.4);
        }
    }

    span:after,
    label:after {
        content: "";
        display: none;
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.5 7.5'%3E%3Cpolyline points='0.75 4.35 4.18 6.75 8.75 0.75' style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px'/%3E%3C/svg%3E") no-repeat center;
    }

    input:checked ~ span:after,
    input:checked ~ label:after {
        display: block;
    }
}

.radio--small,
.checkbox--small {
    span:before,
    label:before {
        top: calc(50% - 1px);
        height: 18px;
        width: 18px;
    }

    span:after,
    label:after {
        top: calc(50% - 1px);
        left: 4px;
        width: 10px;
        height: 10px;
    }
}

.radio--image,
.checkbox--image {
    padding: 0;

    span,
    label {
        display: inline-block;
        padding: 2px;
        border: 1px solid transparent;
        line-height: 0;
    }

    span:before,
    label:before,
    span:after,
    label:after {
        display: none;
    }

    input:checked ~ span,
    input:checked ~ label {
        border-color: $primary;

        @include theme() {
            border-color: $primary--dark;
        }
    }

    input:checked ~ span:after,
    input:checked ~ label:after {
        display: none;
    }
}
