.clearable {
    position: relative;

    .input {
        padding-right: 30px;
    }

    a {
        @extend .icon-link;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        color: $text;

        @include theme() {
            color: $text--dark;
        }

        &:hover, &:active, &:focus {
            color: $text;

            @include theme() {
                color: $text--dark;
            }
        }
    }
}
