.datepicker {
    position: relative;
}

.datepicker__input--invalid.input {
    color: $red;

    @include theme() {
        color: $red--dark;
    }
}

.datepicker__content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    max-width: 230px;
    padding: 3px;
    border: 1px solid $primary;
    border-radius: 4px;
    background: $bg-light;

    @include theme() {
        border-color: $primary--dark;
        background: $bg-light--dark;
    }
}

.datepicker__content--inline {
    position: static;
}

.datepicker__header {
    display: flex;
    gap: 10px;
    padding: 3px 0;

    a {
        flex: 0 0 auto;
        width: 30px;
        user-select: none;
    }

    div {
        flex: 1 1 auto;
        text-align: center;
    }
}

.datepicker__weekdays {
    font-weight: bold;

    .datepicker__cell {
        &:hover, &:active, &:focus {
            border: none;

            @include theme() {
                border: none;
            }
        }
    }
}

.datepicker__cells {
    display: flex;
}

.datepicker__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    font-size: 12px;
    user-select: none;

    &:hover, &:active, &:focus {
        border: 1px solid $border;
        text-decoration: none;

        @include theme() {
            border-color: $border--dark;
        }
    }
}

.datepicker__cell--today {
    border: 1px solid $primary;

    @include theme() {
        border: 1px solid $primary--dark;
    }
}

.datepicker__cell--selected {
    background: $primary;

    @include theme() {
        background: $primary--dark;
    }
}

.datepicker__cell--other {
    background: $grey;
    border-radius: 0;

    @include theme() {
        background: $grey--dark;
    }
}
