.edit-live {
    display: flex;
    align-items: center;
    min-width: 20px;
    cursor: pointer;

    > a {
        margin-left: 10px;
        color: $primary;
        line-height: 0;
        opacity: 0;

        @include theme() {
            color: $primary--dark;
        }
    }

    &:hover a {
        opacity: 1;
    }

    button {
        margin-left: 5px;
        color: $primary;

        @include theme() {
            color: $primary--dark;
        }
    }
}
