.numberpicker {
    position: relative;

    ul {
        display: none;
        flex-wrap: wrap;
        position: absolute;
        top: 43px;
        left: 0;
        z-index: 10;
        width: 120px;
        padding: 5px;
        border-radius: 5px;
        background: $bg-light;
        box-shadow: 1px 0 0 $lightgrey2, -1px 0 0 $lightgrey2,
            0 1px 0 $lightgrey2, 0 -1px 0 $lightgrey2,
            0 3px 13px rgba($black, 0.08);
        box-sizing: content-box;

        @include theme() {
            background: $bg-light--dark;
            box-shadow: 1px 0 0 $lightgrey2--dark, -1px 0 0 $lightgrey2--dark,
                0 1px 0 $lightgrey2--dark, 0 -1px 0 $lightgrey2--dark,
                0 3px 13px rgba($white, 0.08);
        }

        &.visible {
            display: flex;
        }
    }

    li {
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
            background: $bg;
            border: 1px solid $lightgrey2;

            @include theme() {
                background: $bg--dark;
                border-color: $lightgrey2--dark;
            }
        }

        &:active, &:focus, &.selected {
            background: $primary;
            color: $white;

            @include theme() {
                background: $primary--dark;
            }
        }
    }
}

.numberpicker--minute {
    ul {
        width: 300px;
    }

    li {
        &:nth-child(5n + 1) {
            background: $lightgrey3;

            @include theme() {
                background: $lightgrey3--dark;
            }
        }

        &:hover {
            background: $bg;
            border: 1px solid $lightgrey2;

            @include theme() {
                background: $bg--dark;
                border-color: $lightgrey2--dark;
            }
        }

        &:active, &:focus, &.selected {
            background: $primary;
            color: $white;

            @include theme() {
                background: $primary--dark;
            }
        }
    }
}

.numberpicker--day {
    ul {
        width: 210px;
    }

    li {
        &:nth-child(7n - 1),
        &:nth-child(7n) {
            background: $lightgrey3;

            @include theme() {
                background: $lightgrey3--dark;
            }
        }

        &:hover {
            background: $bg;
            border: 1px solid $lightgrey2;

            @include theme() {
                background: $bg--dark;
                border-color: $lightgrey2--dark;
            }
        }

        &:active, &:focus, &.selected {
            background: $primary;
            color: $white;

            @include theme() {
                background: $primary--dark;
            }
        }
    }
}

.numberpicker--year {
    ul {
        width: 210px;
    }

    li {
        width: 52px;
        height: 32px;
    }
}

.numberpicker--month {
    ul {
        width: 278px;
    }

    li {
        width: 92px;
        height: 38px;
    }
}
