.radio-buttons {
    display: flex;

    .btn {
        flex: 1 1 auto;
        position: relative;
        border: 1px solid $border;
        border-radius: 0;

        @include theme() {
            border-color: $border--dark;
        }

        &:hover {
            z-index: 1;
        }

        &:first-child {
            left: 1px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            left: -1px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &.btn--outline {
            color: $text;

            @include theme() {
                color: $text--dark;
            }
        }

        &.btn--outline:hover {
            color: $text;

            @include theme() {
                color: $text--dark;
            }
        }
    }

    &.w-auto .btn {
        flex: initial;
    }

    &.vertical {
        flex-direction: column;

        .btn {
            &:first-child {
                left: auto;
                border-radius: 0;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            &:last-child {
                left: auto;
                border-radius: 0;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }

    &[class*="grid"] .btn {
        min-width: 0;
    }
}
