.timepicker {
    position: relative;

    .numberpicker {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.timepicker__time {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 10;
    width: 130px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 0 0 $lightgrey2, -1px 0 0 $lightgrey2,
        0 1px 0 $lightgrey2, 0 -1px 0 $lightgrey2,
        0 3px 13px rgba($black, 0.08);
    background: $bg-light;
    user-select: none;

    @include theme() {
        box-shadow: 1px 0 0 $lightgrey2--dark, -1px 0 0 $lightgrey2--dark,
            0 1px 0 $lightgrey2--dark, 0 -1px 0 $lightgrey2--dark,
            0 3px 13px rgba($white, 0.08);
        background: $bg-light--dark;
    }

    &:after {
        content: ":";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        line-height: 0;
    }

    > div {
        text-align: center;
    }

    svg {
        width: 24px;
        height: 24px;
        color: $text;

        @include theme() {
            color: $text--dark;
        }
    }
}
