.toggle {
    display: inline-block;
    position: relative;
    width: 42px;
    height: 24px;

    &.disabled {
        pointer-events: none;

        input:checked + span {
            background-color: lighten($teal, 30%);
        }
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 34px;
        background-color: $lightgrey2;
        cursor: pointer;
        transition: 0.2s;

        @include theme() {
            background-color: $lightgrey2--dark;
        }
    }

    span:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        box-shadow: -1px 2px 3px 0 rgba(34, 41, 47, 0.2);
        background-color: $white;
        transition: 0.2s;
    }

    input:checked + span {
        background-color: $teal;
    }

    input:focus + span {
        box-shadow: 0 0 1px $teal;
    }

    input:checked + span:before {
        transform: translateX(17px) translateY(-50%);
    }
}

.toggle--with-text {
    width: auto;
    height: auto;
    padding: 4px 12px;
    font-family: $font-accent;
    font-size: 20px;

    p {
        display: inline-block;
        position: relative;
        z-index: 3;
        margin: 0 0 0 12px;
        pointer-events: none;
        transition: 0.2s;
        color: $text--dark;
    }

    input:checked + span:before {
        left: calc(100% - 19px);
        transform: translateY(-50%);
    }

    input:checked + span + p {
        margin: 0 12px 0 0;
    }
}
