.windowpicker {
    position: relative;
}

.windowpicker__value {
    @extend .input;
}

a.windowpicker__value {
    display: block;
    min-width: 220px;
    cursor: pointer;
    user-select: none;

    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.windowpicker__popup {
    display: flex;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 20;
    overflow: hidden;
    min-width: 124px;
    border: 1px solid rgba($primary, 0.5);
    border-radius: 6px;
    background: $bg-light;
    box-shadow: 0 4px 14px 0 rgba(34, 41, 47, 0.1);
    list-style-type: none;

    @include theme() {
        border: 1px solid $primary;
        background: $bg-light--dark;
    }

    .windowpicker.right & {
        left: auto;
        right: 0;
    }
}

.windowpicker__options {
    a {
        display: flex;
        align-items: center;
        padding: 7px 16px;
        font-size: 14px;
        text-decoration: none;
        white-space: nowrap;

        &:last-child  {
            margin: 0;
        }

        &:hover, &:active, &:focus {
            background: $bg;

            @include theme() {
                background: $bg--dark;
            }
        }
    }
}
