.confirm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
}

.confirm--visible {
    display: block;
}

.confirm__content {
    position: relative;
    width: calc(100% - 40px);
    max-width: 500px;
    padding: 40px;
    margin: 40px auto 0;
    border-radius: 5px;
    background: $bg-light;
    box-shadow: 0 0 40px 0 rgba($black, 0.1), 0 0 50px 0 rgba($black, 0.2), 0 0 80px 0 rgba($bg, 0.7);

    @include theme() {
        background: $bg-light--dark;
        box-shadow: 0 0 40px 0 rgba($black, 0.1), 0 0 50px 0 rgba($black, 0.2), 0 0 30px 0 rgba($bg--dark, 0.7);
    }
}

.confirm__close {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 0;

    svg {
        width: 24px;
        height: 24px;
        color: $text;

        @include theme() {
            color: $text--dark;
        }
    }
}
