.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    background: rgba($black, 0.4);

    &.visible {
        display: block;
    }
}


.modal__content {
    position: relative;
    width: 100%;
    max-width: 800px;
    max-height: calc(100vh - 100px);
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba($black, 0.1), 0 0 50px 0 rgba($black, 0.2), 0 0 80px 0 rgba($bg, 0.7);
    background: $bg-light;
    overflow-y: auto;

    &.visible {
        display: block;
    }

    @include theme() {
        background: $bg-light--dark;
        box-shadow: 0 0 40px 0 rgba($black, 0.1), 0 0 50px 0 rgba($black, 0.2), 0 0 30px 0 rgba($bg--dark, 0.7);
    }

    .modal--small & {
        max-width: 500px;
    }

    .modal--large & {
        max-width: 1200px;
    }

    .modal--full & {
        top: 10px;
        max-width: calc(100% - 20px);
        max-height: calc(100vh - 20px);
        padding: 20px;
    }
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 0;

    svg {
        width: 24px;
        height: 24px;
        color: $text;

        @include theme() {
            color: $text--dark;
        }
    }
}
