.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    select {
        width: auto;
        padding: 8px 2px 8px 8px;
    }
}

.pages {
    display: flex;
    align-items: center;
    margin: 0 2.5px;
    background: $lightgrey3;
    border-radius: 32px;

    @include theme() {
        background: $lightgrey3--dark;
    }
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
    padding: 0 7px;
    border-radius: 32px;
    color: $text;
    font-size: 14px;
    cursor: pointer;

    @include theme() {
        color: $text--dark;
    }

    &:hover, &:active, &:focus {
        text-decoration: none;
    }

    svg {
        width: 14px;
        height: 14px;
    }
}

 .page--arrow {
     margin: 0 2.5px;
     background: $lightgrey3;

     @include theme() {
         background: $lightgrey3--dark;
     }

     &:hover, &:active, &:focus {
         background: $primary;
         color: $white;

         @include theme() {
             background: $primary3--dark;
         }
     }
 }

 .page--current {
     background: $primary;
     color: $white;
     font-weight: bold;

     @include theme() {
         background: $primary3--dark;
     }
 }

.page--disabled {
    background: $lightgrey3;
    color: $grey2;
    cursor: default;

    @include theme() {
        background: $lightgrey3--dark;
    }

    &:hover {
        background: $lightgrey3;
        color: $grey2;

        @include theme() {
            background: $lightgrey3--dark;
        }
    }
}
