.tabs {
}

.tabs--with-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tabs__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $border;

    a {
        display: inline-block;
        padding: 6px 15px 12px;
        color: $text;
        text-decoration: none;

        &:hover, &:active, &:focus {
            color: $primary;
        }

        &.active {
            color: $primary;
            border-bottom: 2px solid $primary;
        }
    }

    .tabs--with-buttons & {
        flex: 1 1 auto;
    }

    @include theme() {
        border-color: $border--dark;

        a {
            color: $text--dark;

            &:hover, &:active, &:focus, &.active  {
                color: $primary2--dark;
            }

            &.active {
                border-bottom: 2px solid $primary2--dark;

                @include theme() {
                    border-color: $primary2--dark;
                }
            }
        }
    }
}

.tabs__content {
    margin-top: 20px;
}

.tabs__buttons {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.tabs__content {
    flex: 0 0 100%;
}
