.tabs {
}

.tabs__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $border;

    a {
        display: inline-block;
        padding: 6px 15px 12px;
        color: $text;
        text-decoration: none;

        &.active {
            border-bottom: 2px solid $primary;
        }
    }

    @include theme() {
        border-color: $border--dark;

        a {
            color: $text--dark;

            &.active {
                @include theme() {
                    border-color: $primary--dark;
                }
            }
        }
    }
}

.tabs__menu-with-buttons {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border;

    .tabs__menu {
        border: none;
    }

    @include theme() {
        border-color: $border--dark;
    }
}

.tabs__menu-buttons {
    display: flex;
    align-items: center;
    padding: 0 0 10px;
}
